<div align="center" class="button-container" style="padding:10px 15px 60px;">
	<a href="<%= url %>" style="-webkit-text-size-adjust: none; text-decoration: none; display: block; color: #ffffff; background-color: #403DD6; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; width:100%; border-top: 0px solid #403DD6; border-right: 0px solid #403DD6; border-bottom: 0px solid #403DD6; padding: 10px 0; font-family: Lato, Tahoma, Verdana, Segoe, sans-serif; text-align: center; mso-border-alt: none; word-break: keep-all;" target="_blank">
		<span data-mce-style="font-size: 14px; line-height: 28px; " style="font-size: 14px; line-height: 28px; letter-spacing: 0.06em;">
			<strong><%- button %></strong>
		</span>
	</a>
</div>