<div style="display: table-cell; width:50%; padding:0 0 30px; vertical-align: top;">
	<div align="center" class="img-container center fullwidth" style="padding: 0 15px 10px;">
		<img align="center" alt="Image" border="0" class="center fullwidth" src="<%= img %>" style="text-decoration: none; -ms-interpolation-mode: bicubic; height: auto; border: none; width: 100%; max-width: 270px; display: block;" title="Image" width="270"/>
	</div>
	<div style="color:#403DD6;font-family:Lato, Tahoma, Verdana, Segoe, sans-serif;line-height:1.2;padding:0;">
		<div style="font-size: 12px; line-height: 1.2; color: #403DD6; font-family: Lato, Tahoma, Verdana, Segoe, sans-serif; mso-line-height-alt: 14px;">
			<p style="font-size: 12px; line-height: 1.2; text-align: center; word-break: break-word; mso-line-height-alt: 14px; margin: 0;">
				<strong>
					<span style="font-size: 14px;">
						<em><%- subtitle %></em>
					</span>
				</strong>
			</p>
		</div>
	</div>
	<div style="color:#555555;font-family:Lato, Tahoma, Verdana, Segoe, sans-serif;line-height:1.8;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;">
		<div style="font-size: 12px; line-height: 1.8; color: #555555; font-family: Lato, Tahoma, Verdana, Segoe, sans-serif; mso-line-height-alt: 22px;">
			<p style="font-size: 14px; line-height: 1.8; word-break: break-word; text-align: center; mso-line-height-alt: 25px; margin: 0;"><%- title %></p>
		</div>
	</div>
</div>